body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    vertical-align: middle;
}

.header img{
    width: 48px;
}

.header a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
}