.bottom-sign-up{
    background-color: #1DA1F2;
   color: white;
   position: fixed;
   bottom: 0px;
   right: 0px;
   left: 0px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.bottom-sign-up .right a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border-radius: 35px;
    border: 1px solid white;
}

.bottom-sign-up .right .selected{
    background-color: white;
    color: black;
    font-weight: bold;

}
p.title{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: -5px;
}
